.title{
  align-content: center;
  text-align: center;
}


body  {
  background-color:#222222;
}
.grid-container{
  display:grid;
  column-gap:40px;
  row-gap:40px;
  grid-template-columns: auto auto auto auto;
   grid-template-row: auto auto auto auto;
   margin-left: 15%;

}
.grid-item1{
  grid-column: 2/2;
  grid-row: 1/1;
}
.grid-item2{
  grid-column: 2/2;
  grid-row: 2/2;
}
.grid-item3{
  grid-column: 2/2;
  grid-row: 3/3;
}
.grid-item4{
  grid-column: 2/2;
  grid-row: 3/3;
}
.grid-item5{
  grid-column:2/2;
  grid-row: 3/3;
}
.grid-item6{
  grid-column: 2/2;
  grid-row: 4/4;
}
.grid-item7{
  grid-column: 2/2;
  grid-row: 5/5;
}
.grid-item8{
  grid-column: 2/2;
  grid-row: 6/6;
}
.grid-item9{
  grid-column: 2/2;
  grid-row: 7/7;
}
.grid-col1{
  grid-column: 1/1;
  grid-row: 1/1;
}
.grid-col2{
  grid-column: 1/1;
  grid-row: 2/2;
}
.grid-col3{
  grid-column: 1/1;
  grid-row: 3/3;
}
.grid-col4{
  grid-column: 1/1;
  grid-row: 4/4;
}
.grid-col5{
  grid-column: 1/1;
  grid-row: 5/5;
}
.grid-col6{
  grid-column: 1/1;
  grid-row: 6/6;
}
.grid-col7{
  grid-column: 1/1;
  grid-row: 7/7;
}
.grid-col8{
  grid-column: 1/1;
  grid-row: 8/8;
}
.grid-col9{
  grid-column: 1/1;
  grid-row: 9/9;
}














html{
  color:#FF6200;
  animation-name:colorchange;
  animation-duration:10s;
  animation-iteration-count: infinite;
}
@keyframes colorchange {
  20%{background-color:#E6D460;}
  40%{background-color:#E6B556;}
  60%{background-color:#E68A49;}
  80%{background-color:#6CDCE6;}
  90%{background-color:#E68A49;}
